.infoContainer {
    position: relative;
}

.imageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardDetails {
    display: flex;
    gap: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.h2 {
    margin: 0;
    font-size: 30px;
    color: #144950;
    font-weight: 700;
}

.p {
    font-size: 18px;
    color: black;
    margin: 0;
}

.demo {
    width: 100%;
    height: 320px;
    overflow: hidden;
}

@media only screen and (max-width: 1440px) {
    .cardDetails {
        gap: 35px;
    }

    .card {
        height: 140px;
        width: 280px;
    }

    .h2 {
        margin: 0;
        font-size: 26px;
        color: #144950;
        font-weight: 700;
    }

    .p {
        color: black;
        font-size: 20px;
    }
}

@media only screen and (max-width: 1250px) {
    .cardDetails {
        gap: 35px;
    }

    .card {
        height: 110px;
        width: 180px;
    }

    .h2 {
        margin: 0;
        font-size: 23px;
        color: #144950;
        font-weight: 700;
    }

    .p {
        color: black;
        font-size: 16px;
    }

    .demo {
        height: 270px;
    }
}

@media only screen and (max-width: 950px) {
    .cardDetails {
        gap: 25px;
    }

    .card {
        height: 100px;
        width: 160px;
    }

    .h2 {
        margin: 0;
        font-size: 20px;
        color: #144950;
        font-weight: 700;
    }

    .p {
        color: black;
        font-size: 15px;
    }
}


@media only screen and (max-width: 760px) {
    .cardDetails {
        gap: 15px;
    }

    .card {
        height: 60px;
        width: 130px;
    }

    .h2 {
        margin: 0;
        font-size: 14px;
        color: #144950;
        font-weight: 700;
    }

    .p {
        color: black;
        font-size: 9px;
    }

    .demo {
        height: 120px;
    }
}



@media only screen and (max-width: 600px) {
    .cardDetails {
        gap: 10px;
    }

    .card {
        height: 60px;
        width: 100px;
    }

    .h2 {
        margin: 0;
        font-size: 13px;
        color: #144950;
        font-weight: 700;
    }

    .p {
        color: black;
        font-size: 8px;
    }
}



@media only screen and (max-width: 480px) {
    .cardDetails {
        gap: 10px;
    }

    .card {
        height: 55px;
        width: 90px;
    }

    .h2 {
        margin: 0;
        font-size: 12px;
        color: #144950;
        font-weight: 700;
    }

    .p {
        color: black;
        font-size: 7px;
    }

    .demo {
        height: 90px;
    }
}


@media only screen and (max-width: 420px) {
    .cardDetails {
        gap: 10px;
    }

    .card {
        height: 42px;
        width: 70px;
    }

    .h2 {
        margin: 0;
        font-size: 9px;
        color: #144950;
        font-weight: 700;
    }

    .p {
        color: black;
        font-size: 5px;
    }
}

.p::-moz-selection,
.h2::-moz-selection,
.image::-moz-selection,
.img::-moz-selection {
    background-color: #FBD449;
    color: #144950;
}

.p::selection,
.h2::selection,
.image::selection,
.img::selection {
    background-color: #FBD449;
    color: #144950;
}