.quantityInput {
    width: 70px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}


.inc,
.dec {
    width: 40px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid black;
}

.quantityControls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.cartHeding {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #144950;
    font-weight: 700;
}

.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.cartContainer {
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
}

.tablefixHeightContainer {
    width: 100%;
    background: #ffffff;
    height: calc(100vh - 30vh);
    overflow-x: auto;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #888 #f1f1f1;
    /* Firefox */

    /* WebKit-specific styles */
    &::-webkit-scrollbar {
        width: 12px;
        /* Set the width of the scrollbar */
    }
}

.tableContainer {
    width: 100%;
    background: #ffffff;
}

.tableHeaderArea {
    background: #ffffff;
    position: sticky;
    top: 0;
    height: 3rem;
    color: #144950;
    border-bottom: 1px solid #00000012;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    tr {
        text-align: left;
    }
}

.tableBodyContainer {
    width: 100%;
    height: calc(100vh - 325px);
    overflow-x: auto;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #888 #f1f1f1;
    /* Firefox */

    /* WebKit-specific styles */
    &::-webkit-scrollbar {
        width: 12px;
        /* Set the width of the scrollbar */
    }
}

.tableHeading1 {
    // padding: 0.5rem;
    width: 50%;
}

.tableHeading2 {
    width: 10%;
}

.tableHeading3 {
    width: 20%;
}

.tableHeading4 {
    width: 10%;
}

.tableHeading5 {
    width: 10%;
}

.tableRow {
    width: 100%;
    border-bottom: 0.7px solid #c3c3c3;

    td {
        &:first-child {
            padding: 0 1rem 0 0;
        }
    }
}

.closeIconWrapper {
    cursor: pointer;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8888882e;
}

.cartItemDetails {
    display: flex;
    align-items: center;
}

.placeOrderContainer {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    background: #f0f2f0;
    height: fit-content;
}

.orderSummaryLabel {
    display: flex;
    justify-content: center;
    color: #144950;
    font-size: 16px;
    line-height: 4rem;
    font-weight: 700;
    border-bottom: 1px solid #00000012;
}

.cartItemCount {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    background-color: #8888882e;
}

.orderSummaryDetails {
    color: #144950;
    font-size: 16px;
    line-height: 3.5rem;
    padding: 1rem;
}

.totalValueContainer {
    background-color: #d9d9d9;
    padding: 0.5rem 1rem;
    line-height: 3rem;
    display: flex;
    justify-content: space-between;
}

.totalPriceArea {
    display: flex;
    justify-content: space-between;
}

.placeOrderBtn {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #144950;
    font-weight: 400;
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: #FBD449;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.placeOrderBtn:hover {
    background-color: #FBD449;
    color: #144950;
}

.emptyCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyCardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 4rem 0;
}


.heading {
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

.emptyCard {
    font-weight: 800;
    font-size: 32px;
    padding: 20px;
    text-align: center;
}

.shoppingCartMainContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -500px;
    margin-bottom: 100px;
}

.shoppingCartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    gap: 20px;
    margin-bottom: 20px;
}

.btn {
    color: #FBD449;
    background-color: #144950;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    height: 42px;
    width: 11rem;
    font-size: 16px;
    letter-spacing: 1px;
}

.cartItemWrapper {
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    position: relative;
}

.cartItemRemove {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    padding-top: 0.3rem;
    right: 0.3rem;
    text-align: right;
}

.mediumScreenCartContainer {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // margin: 1rem;
    position: relative;
}

.mediumScreenProductDetails {
    display: flex;
    gap: 20px;
}

.mediumScreenTotalItemPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.mediumScreenTotal {
    font-size: 12px;
}

@media only screen and (max-width: 1300px) {
    .emptyCard {
        font-size: 28px;
    }

    .leftContainer {
        padding: 1rem;
    }
}

@media screen and (max-width: 1140px) {
    .cartContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 2rem;
    }

    .placeOrderContainer {
        width: 50%;
    }


    // .tableRow {
    //     &:last-child {
    //         display: flex;
    //         align-items: end;
    //     }
    // }
}

@media only screen and (max-width: 1024px) {
    .emptyCard {
        font-size: 26px;
    }

    .image {
        width: 186px;
        height: 186px;
    }

    .heading {
        font-size: 20px;
    }

    .emptyCard {
        font-size: 24px;
    }

    .btns {
        margin-top: 20px;
    }

    .btn {
        height: 38px;
        font-size: 14px;
        width: 10rem;
    }

    .itemsCardContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        height: calc(100vh - 325px);
    }
}


@media only screen and (max-width: 768px) {
    .image {
        width: 170px;
        height: 170px;
    }

    .cartHeding {
        font-size: 20px;
    }

    .heading {
        font-size: 17px;
    }

    .productImage {
        width: 100px;
        height: 100px;
    }

    .emptyCard {
        font-size: 21px;
        padding: 16px 20px;
    }

    .btns {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        margin-top: 10px;
    }

    .btn {
        width: 100%;
        height: 34px;
        font-size: 13px;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .addProductContainer {
        margin: 0;
        padding: 1rem 0;
    }

    .itemsCardContainer {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        height: calc(100vh - 292px);
    }

    .mediumScreenCartItemList {
        height: calc(100vh - 292px);
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;

        &::-webkit-scrollbar {
            width: 12px;
        }
    }

    .placeOrderContainer {
        width: 100%;
        position: sticky;
        bottom: 0;
    }

    .orderSummaryLabel {
        line-height: 2rem;
    }

    .orderSummaryDetails {
        line-height: 2rem;
        padding: 0 1rem;
    }

    .totalValueContainer {
        line-height: 1.5rem;
    }

    .placeOrderBtn {
        margin-top: 0;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 480px) {
    .shoppingCartMainContainer {
        flex-direction: column;
    }

    .shoppingCartWrapper {
        flex-direction: column;
    }

    .cartItemCount {
        width: 4rem;
    }

    .image {
        width: 125px;
        height: 125px;
    }

    .emptyCard {
        font-size: 22px;
    }

    .btns {
        margin-top: 0px;
        flex-direction: column;
        padding: 0rem 2rem;
    }

    .btn {
        width: 100%;
        margin: 0px 1rem;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .addProductContainer {
        display: flex;
        flex-direction: column;
    }

    .cardContainer {
        margin-top: 0.5rem;
    }

    .rightContainer {
        margin-top: 2rem;
    }
}