.productCard {
    display: flex;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #d6edf0;
    border-radius: 2px;
}

.productInfo {
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 20px;
}

.leftContainer {
    margin-right: 80px;
    height: 500px;
    overflow-y: auto;
    width: 40%;
    margin-left: 30%;
}

.rightContainer {
    background-color: #e7f4f5;
    padding: 20px;
    margin-top: 50px;
    width: 20%;
    margin-left: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.placeOrder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.cardContainer {
    margin-top: 100px;
}

.button {
    color: #144950;
    border: 1.5px solid #144950;
    border-radius: 7px;
    cursor: pointer;
    width: 260px;
    height: 40px;
    background-color: #144950;
    color: #FBD449;
    position: relative;
    margin-left: 0px;
    margin-top: 55px;
    transition: all 0.6s ease;

}



.button:hover {
    border: 1.5px solid #FBD449;
    background-color: #FBD449;
    color: #144950;
}

.quantityInput {
    width: 70px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.dec,
.inc {
    width: 40px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid black;
}

.quantityControls {
    margin-top: 20px;
}

.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.editBtn {
    width: 100px;
    padding: 5px;
    background-color: #144950;
    font-weight: 400;
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: #FBD449;
    border-radius: 4px;
}

.editBtn:hover {
    background-color: #FBD449;
    color: #144950;
    font-weight: 400;


}