.mainReview {
    margin-left: 20px;
    margin-right: 120px;
    margin-top: 70px;

}

.says {
    font-size: 44px;
    position: relative;
    top: -10px;
    text-align: center;
}

@media (max-width: 1024px) {


    .mainReview {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 70px;
    }
}


@media (max-width: 680px) {
    .says {
        font-size: 34px;

    }

    .mainReview {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 70px;
    }
}

@media (max-width: 558px) {
    .says {
        font-size: 30px;

    }

    .mainReview {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    .says {
        font-size: 22px;

    }

    .mainReview {
        margin-left: 0;
        margin-right: 0;
    }
}


.says::-moz-selection {
    background-color: #FBD449;
    color: #144950;
}

.says::selection {
    background-color: #FBD449;
    color: #144950;
}