.carouselContainer {
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.card {
    width: 400px;
    height: 289px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    padding: 16px;
    margin: 20px 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: white;

}

.p {
    font-size: 16px;
    position: relative;
    top: 50px;
    left: 13px;

}

.h4 {
    position: relative;
    top: 20px;
    left: 13px;

}


.image {

    border-radius: 8px;
    position: relative;
    top: 190px;
    left: 10px;
}


.h2 {
    font-size: 18px;
    font-weight: 600;
    color: rgba(20, 73, 80, 1);
    position: relative;
    top: 140px;
    left: 70px;
}

.h3 {
    font-size: 16px;
    font-weight: 600;
    color: rgba(131, 129, 129, 1);
    position: relative;
    top: 140px;
    left: 70px;
}


.h4 {
    margin-top: -120px;
}

.says {
    font-size: 44px;
    position: relative;
    top: -470px;
    text-align: center;
}


@media (max-width: 1480px) {
    .card {
        width: 330px;
        height: 239px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        padding: 16px;
        margin: 20px 20px;
        box-sizing: border-box;
        border-radius: 16px;

    }

    .p {
        font-size: 13px;

    }

    .h2 {
        font-size: 16px;
        font-weight: 600;
        position: relative;
        top: 110px;
        left: 70px;
    }

    .h3 {
        font-size: 14px;
        font-weight: 600;
        position: relative;
        top: 110px;
        left: 70px;
    }

    .h4 {
        margin-top: -120px;
    }

    .image {
        position: relative;
        top: 160px;
        left: 10px;
    }
}

@media (max-width: 977px) {
    .card {
        width: auto;
        height: 300px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        padding: 16px;
        margin: 20px 20px;
        box-sizing: border-box;
        border-radius: 16px;

    }

    .p {
        font-size: 17px;
        margin-top: -20px;

    }

    .h2 {
        font-size: 15px;
        font-weight: 600;
        position: relative;
        top: 150px;
        left: 70px;
    }

    .h3 {
        font-size: 13px;
        font-weight: 600;
        position: relative;
        top: 150px;
        left: 70px;
    }

    .h4 {
        margin-top: -100px;
    }

    .image {
        width: 50px;
        position: relative;
        top: 200px;
        left: 10px;
    }

    .carouselContainer {
        margin-left: 15%;
        margin-right: 15%;
    }
}



@media (max-width: 1280px) {
    .card {
        width: auto;
        height: 300px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        padding: 16px;
        margin: 20px 20px;
        box-sizing: border-box;
        border-radius: 16px;

    }

    .p {
        font-size: 17px;
        margin-top: -20px;

    }

    .h2 {
        font-size: 15px;
        font-weight: 600;
        position: relative;
        top: 150px;
        left: 70px;
    }

    .h3 {
        font-size: 13px;
        font-weight: 600;
        position: relative;
        top: 150px;
        left: 70px;
    }

    .h4 {
        margin-top: -100px;
    }

    .image {
        width: 50px;
        position: relative;
        top: 200px;
        left: 10px;
    }

    .carouselContainer {
        margin-left: 10%;
        margin-right: 10%;
    }
}


@media (max-width: 1066px) {

    .p {
        font-size: 15px;
        margin-top: -20px;

    }


}


@media (max-width: 600px) {
    .card {
        width: auto;
        height: 300px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        padding: 16px;
        margin: 20px 20px;
        box-sizing: border-box;
        border-radius: 16px;

    }

    .p {
        font-size: 13px;
        margin-top: -20px;

    }

    .h2 {
        font-size: 15px;
        font-weight: 600;
        position: relative;
        top: 150px;
        left: 70px;
    }

    .h3 {
        font-size: 13px;
        font-weight: 600;
        position: relative;
        top: 150px;
        left: 70px;
    }

    .h4 {
        margin-top: -100px;
    }

    .image {
        width: 50px;
        position: relative;
        top: 200px;
        left: 10px;
    }

    .carouselContainer {
        margin-left: 3%;
        margin-right: 3%;
    }
}