.carouselContainer {
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.card {
    width: 470px;
    height: 289px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    padding: 16px;
    margin: 20px 20px;
    box-sizing: border-box;
    border-radius: 16px;

}

.p {
    font-size: 16px;
    position: relative;
    top: 50px;
    left: 13px;

}

.h4 {
    position: relative;
    top: 20px;
    left: 13px;

}


.image {

    border-radius: 8px;
    position: relative;
    top: 190px;
    left: 10px;
}


.h2 {
    font-size: 18px;
    font-weight: 600;
    color: rgba(20, 73, 80, 1);
    position: relative;
    top: 140px;
    left: 70px;
}

.h3 {
    font-size: 16px;
    font-weight: 600;
    color: rgba(131, 129, 129, 1);
    position: relative;
    top: 140px;
    left: 70px;
}


.h4 {
    margin-top: -120px;
}

.says {
    font-size: 44px;
    position: relative;
    top: -470px;
    text-align: center;
}