.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 30px;
}

.head {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contactContainer {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #144950;
    padding: 20px;


}

.leftSection {
    flex: 1;
    background-color: #FBD449;
    padding: 10px;
    border-radius: 8px;

}

.rightSection {
    flex: 1;
    margin-left: 20px;
}

.h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #144950;
}

.leftSection p {
    margin-bottom: 10px;
}

.contactForm {
    display: flex;
    flex-direction: column;


    label {
        margin-bottom: 5px;
        color: #FBD449;
    }

    input,
    textarea {
        border: 1px solid #ccc;
        padding: 8px;
        margin-bottom: 10px;
    }

    button {
        padding: 10px 20px;
        margin-right: 20px;
        cursor: pointer;
        color: #144950;
        background-color: #FBD449;
        font-size: 18px;
        font-weight: 500;
        border: none;
        border-radius: 4px;
        transition: background-color 0.6s, color 0.6s;
    }

    button:hover {
        color: #144950;
        font-weight: 500;
        background-color: #FFFFFF;
    }
}

.buttonContainer {
    margin-top: 10px;
}

@media (max-width: 900px) {
    .contactContainer {
        flex-direction: column;
        align-items: center;

    }

    .main {
        margin-left: 10%;
        margin-right: 10%;
    }

    .rightSection {
        width: 90%;
        margin-left: 0;
        margin-top: 20px;
    }

    .leftSection {
        width: 90%;
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 660px) {
    .contactContainer {
        flex-direction: column;
        align-items: center;

    }

    .main {
        margin-left: 10%;
        margin-right: 10%;
    }

    .rightSection {
        width: 95%;
        margin-left: 0;
        margin-top: 20px;
    }

    .leftSection {
        width: 95%;
        margin-left: 0;
        margin-top: 20px;
    }
}