.detailsContainer {
    width: 60%;

    p {
        text-align: justify;
    }
}

.returnPolicyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
}

.p {
    font-size: 20px;
    font-weight: 700;
}

.details1 {
    opacity: 0.8;
    margin-bottom: 50px;

    h2 {
        font-weight: 600;
    }

}

@media (max-width:700px) {
    .detailsContainer {
        width: 90%;
    }
}