.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainDiv {
    width: 60%;
    margin-left: 20%;
    padding-top: 40px;
}

// .row3 {
//     margin-bottom: 20px;
//     margin-left: 20px;

// }

// .prod {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

//     width: 400px;
//     margin-bottom: 20px;
//     margin-top: 20px;

// }

// .prodImg {
//     width: 150px;
//     height: 150px;
//     margin-top: 20px;

// }

.row3 {
    margin-bottom: 20px;
    margin-left: 20px;
    max-height: 500px;
    overflow-y: auto;
}

.prod {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.prodImg {
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
}


.row2 {
    margin-top: 2px;
}

.payment {
    margin-top: 10px;
}



.mainRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rows {
    width: 30%;
    margin-bottom: 20px;
    margin-left: 10%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    margin-bottom: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.addressCard {
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.deliverAddress {
    margin-top: 150px;
    font-weight: 700;
    color: #144950;
    font-size: 32px;
    text-align: center;
}