.CenteredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 65px;
    // margin-bottom: 467px;
}



.preAddress {
    padding-top: 15px;

    .addressCard {
        // border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        padding: 20px;
        margin: 10px 0;
        display: flex;
        align-items: center;

        &.selectedAddress {
            background-color: #e0dede;
        }

        input[type="checkbox"] {
            margin-right: 10px;
        }

        .addressContent {
            flex-grow: 1;
            margin-left: 10px;

            .fullName {
                font-weight: bold;
            }

            .addressType {
                color: #888;
            }
        }
    }
}


.OrderAddressContainer {
    // width: 400px;
    // margin: auto;
    // padding: 20px;
    // border: 1px solid #ccc;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    form {
        display: flex;
        flex-direction: column;

        .firstRow,
        .secondRow,
        .thirdRow,
        .fourthRow {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            div {
                flex-grow: 1;
                margin-right: 10px;

                label {
                    display: block;
                    margin-bottom: 5px;
                    font-weight: bold;
                }

                input,
                textarea,
                select {
                    width: 100%;
                    padding: 8px;
                    margin-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }

                input:focus {
                    border-color: #144950;
                }

                input:hover {
                    border-color: #144950;
                }
            }
        }

        .row {
            margin-bottom: 15px;

            div {
                width: 100%;

                label {
                    display: block;
                    margin-bottom: 5px;
                    font-weight: bold;
                }

                input {
                    width: 100%;
                    padding: 8px;
                    margin-bottom: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }

                input:focus {
                    border-color: #144950;
                }

                input:hover {
                    border-color: #144950;
                }
            }
        }

        button {
            padding: 10px;
            margin-top: 10px;
            cursor: pointer;
            background-color: #144950;
            color: #fbd449;
            border: none;
            border-radius: 4px;
            transition: background-color 0.4s, color 0.4s;

            &:hover {
                background-color: #fbd449;
                color: #144950;
            }

            &:last-child {
                margin-left: 10px;
                background-color: #144950;
                color: #fbd449;

                &:hover {
                    background-color: #fbd449;
                    color: #144950;

                }
            }
        }
    }
}


.orderBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 181px;


    button {
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: #144950;
        color: #fbd449;
        transition: background-color 0.5s, color 0.5s;
        font-weight: 550;

    }

    button:hover {
        color: #144950;
        background-color: #fbd449;
        font-weight: 550;
    }
}

.buttons {
    // margin-top: -70px;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.removeAdd {
    width: 70px;
    background-color: #144950;
    color: #FBD449;
    margin: 5px;
    padding: 5px;
    border-radius: 2px;
    transition: background-color 0.5s, color 0.5s;
}

.removeAdd:hover {
    color: #144950;
    background-color: #FBD449;
}


.deliverAddress {
    margin-bottom: 30px;
    font-size: 26px;
    color: #144950;
    font-weight: 600;
}

.grandtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 22px;
    margin-top: 90px;
    margin-bottom: 30px;
    width: 70vw;

    span {
        font-size: 26px;
        color: #144950;
        font-weight: 600;
    }
}


.main {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 130px;

}

.details {
    width: 700px;
    height: 256px;
    color: #144950;
}

.emptyCard {
    font-weight: 800;
    font-size: 32px;
    padding: 20px;
    text-align: center;

}

.heading {
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

.btn {
    color: #FBD449;
    background-color: #144950;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    margin-top: 50px;
    margin-left: 20px;
}

.btn:hover {
    background-color: #FBD449;
    color: #144950;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Style for the popup container */
.popup {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    position: absolute;
    max-width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.label1 {
    margin-left: -150px;
}

.label2 {
    position: relative;
    left: -150px;
}

.num {
    display: flex;
    margin: 0 !important;
}

.code {
    width: 25% !important;
    margin-right: 5px;
}

.opt {
    width: 30vw;
}

.modalDel {
    width: 300px;
    max-width: 100%;
    background-color: #144950;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {

        color: #ffffff;
    }
}

.btns {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-left: 70px;

    button {
        padding: 5px;
        width: 70px;
        border-radius: 6px;
        font-weight: 600;
        background-color: #FBD449;
        transition: background-color 0.3s;

    }

    button:hover {
        background-color: #ffffff;

    }
}

.over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(238, 238, 238, 0.8);
    justify-content: center;
    align-items: center;
}

.toggleP {
    font-size: 19px;
    font-weight: 650;
    color: #144950;
    cursor: pointer;
}




@media (max-width:530px) {
    .addressCard {
        margin-left: 30px;
    }

    .addressContent {
        p {
            font-size: 14px;
        }
    }
}

@media (max-width:470px) {
    .addressContent {

        p {
            font-size: 13px;
        }
    }
}

@media (max-width:427px) {
    .addressContent {
        p {
            font-size: 12px;
        }
    }
}

@media (max-width:390px) {
    .addressContent {
        p {
            font-size: 11px;
        }
    }
}