.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}





// $cardWidth: calc(23% - 1%);

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3vw;
    margin-bottom: 50px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.img,
.img1 {
    border-radius: 8px;

}

.card {
    margin-top: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
    font-size: 14px;
    // font-size: clamp(9px, 2vw, 14px);
    // min-width: 280px;
    width: 22%;
}





.discount {
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    background-color: #fbd449;
    position: absolute;
    top: 10px;
    right: 10px;

    p {
        color: #144950;
        font-weight: 700;

    }
}

.button {

    color: #144950;
    border: 1.5px solid #144950;
    border-radius: 7px;
    cursor: pointer;
    width: calc(100% - 60px);
    height: 40px;
    background-color: #144950;
    color: #FBD449;
    position: relative;
    margin-left: 30px;
    margin-bottom: 25px;
    margin-top: 27px;
    transition: all 0.6s ease;
    font-size: 17px;

}

.withMargin {
    margin-top: 30px;
}

.button:hover {
    border: 1.5px solid #FBD449;
    background-color: #FBD449;
    color: #144950;
}

.productName1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    margin-left: 10px;
    font-weight: 600;
}

.ellipsis1 {
    display: -webkit-box;
    max-width: 250px;
    text-align: center;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



.productName {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    margin-left: 10px;
}

.ellipsis {
    display: -webkit-box;
    max-width: 250px;
    text-align: center;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mrp {
    margin-top: 5px;
    text-align: center;
    opacity: 0.7;
}

.price {
    text-align: center;
    margin-top: 5px;
}

.comboHead {
    font-size: 38px;
    color: #144950;
    font-weight: 700;
    margin-top: 25px;
    text-align: center;
}

.price2 {
    text-align: center;
    margin-top: 5px;
    color: #144950;
    opacity: 0.7;
    font-weight: 550;
    font-size: 14px;
}

@media (max-width: 1525px) {
    .cardContainer {
        padding: 0 1rem;
        gap: 0.5rem;
    }

    .pagination {
        margin-top: 30px;
    }

    .withMargin {
        margin-top: 32px;
    }
}

@media (max-width: 1250px) {
    .cardContainer {
        padding: 0 1rem;
        gap: 0.3rem;
    }


    .card {
        min-width: 240px;
    }

    .withMargin {
        margin-top: 52px;
    }
}

@media (max-width: 781px) {
    .cardContainer {
        padding: 0 1rem;
        gap: 0.1rem;
    }


    .card {
        min-width: 190px;
    }

    .withMargin {
        margin-top: 52px;
    }
}

@media (max-width: 633px) {
    .pagination {
        margin-top: 30px;
        margin-left: 0% !important;
        margin-right: 0% !important;

        .b1 {
            padding: 6px 10px;
        }

        .activePage {
            padding: 6px 10px;
        }
    }

    .card {
        min-width: 190px;
        font-size: 12px;
        width: 45vw;
    }
}

@media (max-width: 541px) {
    .card {
        font-size: 11px;
        width: 41vw;
        min-width: 180px;
    }

    .price2 {
        font-size: 12px;
    }
}

@media (max-width: 415px) {
    .card {
        font-size: 11px;
        min-width: 165px;
    }
}

@media (max-width: 380px) {
    .card {
        font-size: 11px;
        min-width: 150px;
    }
}

@media (max-width: 364px) {
    .card {
        font-size: 11px;
        min-width: 143px;
    }
}

@media (max-width: 337px) {
    .card {
        font-size: 11px;
        min-width: 135px;
    }
}

@media (max-width: 320px) {
    .cardContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        font-size: 13px;
        min-width: 260px;
    }
}


.paginations {
    text-align: center;
    background-color: transparent;
    z-index: 999;
    width: 100vw;
}

.pagination {
    button {
        background-color: #fff;
        border: 1px solid #3b4c4e;
        color: #555;
        padding: 8px 12px;
        margin: 0 4px;
        cursor: pointer;
        color: #144950;
        font-weight: 700;

        span {
            font-weight: 700;
            color: #144950;
        }
    }
}

.rotate180 {
    transform: rotate(180deg);
    display: inline-block;
}

.pagination button:hover {
    background-color: #ddd;
}

.pagination button:disabled {
    color: #144950;
    cursor: not-allowed;
}

.pagination button.activePage {
    background-color: #144950;
    color: #ffffff;
}

.ellipsis1::-moz-selection,
.ellipsis::-moz-selection,
.mrp::-moz-selection,
.price::-moz-selection,
.grade::-moz-selection,
.img::-moz-selection,
.img1::-moz-selection {
    background-color: #FBD449;
    color: #144950;
}

.ellipsis1::selection,
.ellipsis::selection,
.mrp::selection,
.price::selection,
.grade::selection,
.img::selection,
.img1::selection {
    background-color: #FBD449;
    color: #144950;
}

.discount {

    p::-moz-selection {
        color: #FBD449;
        background-color: #144950;
    }
}

.discount {
    p::selection {
        color: #FBD449;
        background-color: #144950;
    }
}


.comboHead::-moz-selection {
    background-color: #FBD449;
    color: #144950;
}

.comboHead::selection {
    background-color: #FBD449;
    color: #144950;
}