.giftComboContainer {
    position: relative;
}

.backgroundImageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.backgroundImage {
    object-fit: cover;
    width: 100%;
    height: 751px;
}

.contentContainer {
    position: relative;
    z-index: 1;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 120px;
    left: -160px;
}

.cardRow {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.card {
    width: 330px;
    height: 170px;
    display: flex;
    border-radius: 6px;
    background-color: white;
    margin: 15px;
}

.right {
    margin-left: 15px;
}

.right {
    transform: translate(40%, 15%);
}

.left {
    transform: translate(20%, 40%);
}


.rightImage {
    width: 118px;
    height: 118px;
}


.h1 {
    font-size: 44px;
    position: absolute;
    top: 20px;
    left: 61%;
    transform: translateX(-50%);
    color: white;
}


.h5 {
    width: 40px;
    height: 45px;
    background-color: #FBD449;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(6, 6, 6);
    font-weight: 700;
    position: relative;
    top: -116px;
}

.h5 h5 {
    text-align: center;
}