.card {

    width: 300px;
    height: 420px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 30px;
    border-radius: 8px;
    transition: box-shadow 0.8s ease-in-out;
    background-color: white;

}

.h2 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.20px;
    color: #144950;
    padding: 5px;
}

.grade {
    color: #144950;
}

.p {
    margin-top: -8px;
    margin-left: 5px;
}

.button {
    color: #144950;
    border: 1.5px solid #144950;
    border-radius: 7px;
    cursor: pointer;
    width: 260px;
    height: 40px;
    background-color: #144950;
    color: #FBD449;
    position: relative;
    margin-left: 0px;
    margin-top: 17px;
    transition: all 0.6s ease;

}

.button:hover {
    border: 1.5px solid #FBD449;
    background-color: #FBD449;
    color: #144950;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.cardInfo {
    margin-top: -10px;
    text-align: center;

}

.productName {
    margin-top: 10px;
}

.price {
    margin-top: 5px;
}

.mrp {
    opacity: 0.8;
    margin-top: 5px;
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 2%;
    margin-left: 140px;
    margin-right: 140px;

}


.withMargin {
    margin-top: 49px;
}

.prodMargin {
    margin-top: 5px;

}


.cardImg {
    position: relative;
    overflow: hidden;
    border-radius: 8px;

}

.image {
    position: relative;
    padding: 20px;

}

.img {
    width: 100%;
    height: auto;
    border-radius: 8px;

}

.discount {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FBD449;
    color: #144950;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
    width: 50px;

    p {
        text-align: center;
    }
}

.prod {
    font-size: 12px;
    opacity: 0.8;
    margin-top: 2px;
}

.prodPrice {
    margin-top: 0px;
}