.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        width: 450px;
        margin-top: 20px;
        max-width: 500px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #144950;

        border-radius: 5px;

        div {
            margin-bottom: 10px;

            label {
                display: block;
                margin-bottom: 5px;
                margin-top: 20px;
                color: #FBD449;
            }


            input {
                width: 100%;
                padding: 8px;
                border-radius: 3px;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }
        }

        button {
            width: 80%;
            margin-left: 10%;
            font-size: 20px;
            color: #144950;
            background-color: white;
            font-weight: 700;
            padding: 10px 20px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            // margin-right: 10px;
            margin-top: 40px;
            transition: background-color 0.6s, color 0.6s;

            &:last-child {
                margin-right: 0;
            }
        }

        button:hover {
            background-color: #FBD449;
            color: #144950;
        }

    }
}

.companydetails {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.details {
    margin-left: 20px;
}

.headerdetails {
    margin-left: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #FBD449;
}

.registerName {
    font-size: 28px;
    margin-top: -80px;
    text-align: center;
    font-weight: 700;
    color: white;
}

.bodydetails {
    font-size: 16px;
    font-weight: 400;
    color: #144950;
}




.num {
    display: flex;

    .code {
        width: 100px;

    }
}


.link {
    margin-bottom: -15px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;


}

.cancelReg {
    position: relative;
    top: -125px;
    left: 320px;
    width: auto !important;
    color: white !important;
    background-color: transparent !important;

}

.cancelReg:hover {
    color: #FBD449 !important;
}

.span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}



.btns {
    height: 100px;
}

@media(max-width:500px) {
    .register {
        height: 100vh;

        form {
            width: 360px;
            height: 600px;
            border: 1px solid #ccc;


            button {
                width: 80%;
                margin-left: 10%;
                font-weight: 600;
                padding: 10px 10px;
                border: none;
                border-radius: 15px;
                cursor: pointer;
                margin-right: 10px;
                margin-top: 5px;
                transition: background-color 0.6s, color 0.6s;

                &:last-child {
                    margin-right: 0;
                }
            }

            div {
                margin-bottom: 16px;

                label {

                    margin-bottom: 0px;
                }

                input {
                    padding: 5px;
                }
            }

        }

        .cancelReg {
            position: relative;
            top: -100px;
            left: 260px;

        }

        .registerName {
            margin-top: -65px;
            font-size: 14px;
        }

        .bodydetails {
            font-size: 14px;
            font-weight: 400;
            color: #144950;
        }
    }
}