.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        width: 450px;
        margin-top: 20px;
        max-width: 500px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: rgb(255, 255, 255);

        border-radius: 5px;

        div {
            margin-bottom: 10px;

            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
            }

            input {
                width: 100%;
                padding: 8px;
                border-radius: 3px;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }
        }

        button {
            color: #FBD449;
            background-color: #144249;
            font-weight: 700;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-right: 10px;
            margin-top: 40px;
            transition: background-color 0.6s, color 0.6s;

            &:last-child {
                margin-right: 0;
            }
        }

        button:hover {
            background-color: #FBD449;
            color: #144249;
        }

    }
}

.companydetails {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.details {
    margin-left: 20px;
}

.headerdetails {
    font-size: 25px;
    font-weight: 700;
    color: #144249;
}

.bodydetails {
    font-size: 16px;
    font-weight: 400;
    color: #144249;
}

.registerName {
    text-align: center;
    background-color: #ffffff;
    color: #144249;
    font-size: 16px;
}


.num {
    display: flex;

    .code {
        width: 100px;

    }
}


.link {
    margin-bottom: -15px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;


}



.cancelReg {
    margin-left: 375px;
    position: relative;
    top: -686px;
    color: black !important;
    background-color: rgb(255, 255, 255) !important;

}

.span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.newClosebtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -20px !important;
    margin-top: -20px !important;
    background-color: transparent !important;
    color: black !important;
}

.btns {
    height: 100px;
}