.home {
    width: 1890px;
    height: 711px;
    background-color: rgba(229, 235, 236, 1);
}

.main {

    display: flex;
    align-items: center;
    justify-content: center;
}

.left p {
    width: 550px;
    height: 134px;
    font-size: 44px;
    font-weight: 700px;
}

.left ul li {
    width: 550px;
    height: 54px;
    font-size: 18px;
    font-weight: 400px;
    margin-left: -20px;
}

.left {
    margin-right: -100px;
    width: 650px;
}

.right {
    position: relative;
    width: 627px;
    height: 616px;
    margin-top: 80px;
    z-index: 2;
    margin-left: 100px;


}

.layer {
    background-color: rgba(20, 73, 80, 1);
    width: 490px;
    height: 616px;
    z-index: 1;
    position: absolute;
    top: -30px;
    left: 109px;
}

.layerText {
    height: 67px;
    width: 527px;
    font-size: 43px;
    position: absolute;
    left: 200px;
    top: 170px;
    font-weight: 700px;
    rotate: 270deg;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.2px;

}

.image {
    position: relative;
    z-index: 2;
}

.p {
    margin-bottom: 10px;
    margin-left: -40px;
}

.list {
    list-style-type: circle
}