.fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.navList {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    gap: 40px
}

.number {
    font-weight: 550;
    letter-spacing: 0.20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}



.link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.5s ease, text-decoration 0.5s ease;
}

.link:hover {
    color: #144950;
    text-decoration: underline;
}

.leftSection {
    display: flex;
    align-items: center;
    width: 265px;
    height: 80px;
    gap: 10px;

}

.leftSectionName {
    color: #144950;
    font-size: 27px;
    font-weight: 900;
}

.header {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    padding: 0 15px;
    height: 80px;
    align-items: center;
}


.rightSection {
    display: flex;
    align-items: center;
    gap: 15px;
}


.contactUsBtn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #144950;
    width: 94px;
    height: 42px;
    color: #FBD449;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}

.contactUsBtn:hover {
    background-color: #FBD449;
    color: #144950;
    font-weight: 700;
}


.mobileNumber {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.mobileNumber:hover {
    color: #144950;
    text-decoration: underline;
}

.leftSection .image {
    width: 65px;
    height: 65px;
}




@media screen and (max-width :1536px) {
    .navList {
        gap: 30px;
    }

    .header {
        height: 65px;
    }

    .link {
        font-size: 13px;
    }

    .leftSection .image {
        width: 57px;
        height: 56px;
    }

    .leftSection {
        display: flex;
        align-items: center;
        width: 248px;
        height: 80px;
        gap: 10px;

    }

    .leftSectionName {
        color: #144950;
        font-size: 20px;
        font-weight: 900;
    }

    .contactUsBtn {
        width: 86px;
        height: 32px;
        font-size: 12px;
    }
}

@media screen and (max-width :1280px) {
    .navList {
        gap: 16px;
    }

    .header {
        height: 58px;
    }

    .link {
        font-size: 11px;
    }

    .leftSection .image {
        width: 50px;
        height: 51px;
    }

    .leftSection {
        display: flex;
        align-items: center;
        width: 200px;
        height: 80px;
        gap: 7px;
        margin-left: 50px;

    }

    .leftSectionName {
        color: #144950;
        font-size: 17px;
        font-weight: 900
    }

    .rightSection {
        gap: 11px;
    }

    .contactUsBtn {
        width: 58px;
        height: 28px;
        font-size: 10px;
    }
}


@media screen and (max-width :1024px) {
    .navList {
        gap: 25px;
    }

    .header {
        height: 60px;
    }

    .link {
        font-size: 12px;
    }

    .leftSection .image {
        width: 57px;
        height: 53px;
    }

    .leftSection {
        display: flex;
        align-items: center;
        width: 250px;
        height: 80px;
        gap: 10px;

    }

    .leftSectionName {
        color: #144950;
        font-size: 20px;
        font-weight: 900;
    }

    .contactUsBtn {
        width: 69px;
        height: 30px;
        font-size: 11px;
    }
}



@media screen and (max-width :900px) {

    .header {
        height: 50px;
        justify-content: start;
    }

    .leftSection {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 212px;
        height: 50px;
        gap: 8px;
        // margin: 0px 10px;
        margin-left: 32px;

    }

    .leftSection .image {
        width: 48px;
        height: 46px;
    }

    .leftSectionName {
        color: #144950;
        font-size: 17px;
        font-weight: 900;
    }

    .navList {
        gap: 15px;
        margin: 0px 30px;
    }


    .link {
        font-size: 11px;
    }

    .rightSection {
        gap: 11px;
        margin-left: 35px;
    }

    .contactUsBtn {
        width: 63px;
        height: 25px;
        font-size: 11px;
    }
}


@media screen and (max-width :824px) {

    .header {
        height: 50px;
        justify-content: start;
    }

    .leftSection {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 191px;
        height: 50px;
        gap: 8px;
        margin-left: 23px;

    }

}



@media screen and (max-width :794px) {

    .header {
        height: 50px;
        justify-content: start;
    }

    .leftSection {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 184px;
        height: 50px;
        gap: 8px;
        margin-left: 14px;

    }

    .leftSection .image {

        width: 46px;
        height: 44px;

    }

    .leftSectionName {
        font-size: 15px;
    }

    .navList {
        gap: 15px;
        margin: 0px 18px;
    }


    .link {
        font-size: 12px;
    }

    .rightSection {
        gap: 11px;
        margin-left: 32px;
    }

    .contactUsBtn {
        width: 60px;
        height: 23px;
        font-size: 10px;
    }
}

@media screen and (max-width :768px) {
    .header {
        height: 48px;
        justify-content: start;
    }

    .leftSection {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 181px;
        height: 50px;
        gap: 8px;
        margin-left: 19px;

    }

    .leftSection .image {

        width: 46px;
        height: 44px;

    }

    .leftSectionName {
        font-size: 15px;
    }

    .navList {
        gap: 15px;
        margin: 0px 19px;
    }


    .link {
        font-size: 10px;
    }

    .rightSection {
        gap: 11px;
        margin-left: 32px;
    }

    .contactUsBtn {
        width: 60px;
        height: 23px;
        font-size: 10px;
        font-weight: 400;
    }
}