.fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.navList {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    gap: 40px
}

.number {
    font-weight: 550;
    letter-spacing: 0.20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}



.link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.5s ease, text-decoration 0.5s ease;
}

.link:hover {
    color: #144950;
    text-decoration: underline;
}

.leftSection {
    display: flex;
    align-items: center;
    width: 265px;
    height: 80px;
    gap: 10px;

}

.leftSectionName {
    color: #144950;
    font-size: 27px;
    font-weight: 900;
}

.header {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    padding: 0 15px;
    height: 80px;
    align-items: center;
}


.rightSection {
    display: flex;
    align-items: center;
    gap: 15px;
}


.contactUsBtn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #144950;
    width: 94px;
    height: 42px;
    color: #FBD449;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}

.contactUsBtn:hover {
    background-color: #FBD449;
    color: #144950;
    font-weight: 700;
}


.mobileNumber {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.mobileNumber:hover {
    color: #144950;
    text-decoration: underline;
}

.leftSection .image {
    width: 65px;
    height: 65px;
}


@media screen and (max-width: 1500px) {

    .link {
        font-size: 16px;
    }

    .leftSectionName {
        font-size: 22px;
    }

    .navList {
        gap: 18px;
    }

    .leftSection .image {
        width: 55px;
        height: 50px;
    }

    .contactUsBtn {
        width: 150px;
        height: 46px;
        border-radius: 8px;
        font-weight: 600;
    }

    .number {
        font-size: 16px;
    }

    .header {
        height: 80px;
    }
}




@media screen and (max-width: 1400px) {

    .link {
        font-size: 15px;
    }

    .leftSectionName {
        font-size: 21px;
    }

    .navList {
        gap: 18px;
    }

    .leftSection .image {
        width: 55px;
        height: 50px;
    }

    .contactUsBtn {
        width: 140px;
        height: 46px;
        border-radius: 8px;
        font-weight: 600;
    }

    .number {
        font-size: 15px;
    }

    .header {
        height: 75px;
    }
}


@media screen and (max-width: 1200px) {

    .link {
        font-size: 14px;
    }

    .leftSectionName {
        font-size: 20px;
    }

    .navList {
        gap: 15px;
        margin-left: -100px;
    }

    .leftSection .image {
        width: 40px;
        height: 40px;
    }

    .contactUsBtn {
        width: 130px;
        height: 42px;
        border-radius: 6px;
        font-weight: 500;
        font-size: 15px;
    }

    .number {
        font-size: 13px;
    }

    .header {
        height: 70px;
    }

    .number span {
        display: none;
    }
}