.mainDiv {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    // align-items: center;
    width: 100%;
    gap: 2rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

.mainImg {

    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 40%;
    // gap: 30px;

}

.sideImg {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.image1 {
    // margin-left: -30px;
    margin-bottom: 10px;
    width: 35%;
    // padding: 0 1rem 0 1rem;
    height: auto;
    object-fit: cover;
    border-radius: 5px;

}

.largeImageContainer {
    // margin-bottom: 50px;
    width: 70%
}

.largeImage {
    border-radius: 10px;
    // margin-left: -160px;
}

.description {
    // margin-left: -90px;
    // margin-top: -40px;
    width: 40%;
}

.orderButton {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.btnOrder {
    width: 200px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: #144950;
    color: #FBD449;
    padding: 10px;
    transition: background-color 0.4s, color 0.4s;
    border-radius: 4px;
}

.btnOrder:hover {
    color: #144950;
    background-color: #FBD449;
    font-weight: 700;
}

.qty {
    display: flex;
    align-items: center;
    margin-top: 10px;

    input {
        width: 130px;
        height: 40px;
        color: #144950;
        font-weight: 800;
        background-color: #ffffff;
        border-radius: 4px;
        text-align: center;
        margin-left: 10px;
        font-size: 22px;
        appearance: none;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
        }
    }
}

.price {
    color: #144950;
    font-weight: 700;
    font-size: 20px;
    // margin-top: 10px;

}

.total {
    margin-top: 30px;
}

.des {
    // width: 450px;
    margin-top: 1rem;
    text-align: justify;
}

.name {
    color: #144950;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 0px;
}

.reg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cancel {
    position: absolute;
    top: 250px;
    left: 418px;

}

// .mrp {
//     margin-top: 30px;
// }

.weight {
    margin-top: 15px;
}



.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62vh;
}

.blurImage {
    filter: blur(2px);
}

// .variantCard {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }



// .variantSubCard {
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     padding: 10px;
//     margin-left: 10px;
// }


.variantCard {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
    // margin-left: -320px;
    margin-top: 20px;
}

.variantSubCard {
    // flex: 0 1 calc(12% - 3px);
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 3px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // background-color: #144950;
    // color: #FBD449;
    line-height: 1rem;

    padding: 0.5rem;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid gray;

    p {
        text-align: center;
    }
}


.selectedVariant {
    transition: border 0.5s;
    border: 2px solid #144950;
    color: #144950;
    font-weight: 650;

}

.variantSubCard:hover {
    // color: #144950;
    // background-color: #FBD449;
    border: 2px solid #144950;

    cursor: pointer;
}

.discount {
    // margin-top: 5px;
    font-weight: 600;
    color: #1aa12a;
}

.outOfStock {
    color: red;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

.clickable {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.notbtnOrder {
    background-color: #788183;
    color: #ffffff;
    pointer-events: none;
}

.notbtnOrder:hover {
    background-color: #788183;
    color: #ffffff;
}

.priceAndStock {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
}


@media (max-width:1330px) {

    .image1 {
        width: 40%
    }
}


@media (max-width:1190px) {
    .variantCard {
        justify-content: start;
    }

    .image1 {

        width: 40%
    }

}


@media (max-width:1024px) {
    .mainDiv {
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .name {
        font-size: 18px;
    }

    .des {
        font-size: 15px;

    }

    .mainImg {
        width: 70%;
    }

    .variantCard {
        justify-content: start;
    }

    .sideImg {
        margin-top: 0px;
    }

    .image1 {
        width: 30%;
        align-items: start;
        object-fit: cover;
        height: auto;
        border-radius: 5px;

    }



    .largeImage {
        width: 80%;
    }

    .description {
        width: 70%;
    }

    .variantSubCard {
        font-size: 13px;
    }
}

@media (max-width:768PX) {
    .sideImg {
        align-items: start;
    }

    .image1 {
        width: 30%;
        margin-left: 50px;
    }

    // .name {
    //     font-size: 20px;
    // }

    .mainDiv {
        margin-top: 0;
    }

    .largeImage {
        width: 85%;
    }

    .variantCard {
        gap: 0.1rem;
        width: 100%;
    }

    .variantSubCard {
        padding: 0.3rem;
    }

    .description {
        width: 100vw;
        padding: 0 1rem;
        margin-top: -25px;
    }

    .name {
        font-size: 14px;
    }

    .weight {
        font-size: 14px;
        margin-top: 5px;
    }

    .des {
        margin-top: 5px;
        font-size: 11px !important;
    }


    .priceAndStock {
        margin-top: 3px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 14px;
        }

    }

    .orderButton {
        gap: 10px;
    }

    .btnOrder {
        font-size: 15px;
    }



}

@media (max-width:550px) {
    // .mainDiv {
    //     padding-left: 3rem;
    //     padding-right: 3rem;
    // }

    .image1 {
        width: 27%;
        margin-left: 70px;
    }

    .des {
        font-size: 13px;
    }

    .description {
        width: 100%;
    }

    // .name {
    //     font-size: 19px;
    // }


    .mainImg {
        width: 100%;
    }

    .largeImage {
        width: 70%;
    }
}

@media (max-width:480px) {
    .image1 {
        width: 27%;
        margin-left: 50px;
    }

    .largeImage {
        width: 90%;
    }

    // .name {
    //     font-size: 17px;
    // }
}



.disablebtnOrder {
    color: #ffffff !important;
    background-color: #788183 !important;
    pointer-events: none;

}

.disablebtnOrder:hover {
    color: #ffffff !important;
    background-color: #788183 !important;
    pointer-events: none;

}