.mainDiv {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    margin-left: 50px;
    margin-top: -50px;
}

.orderButton {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 55px;

}

.btnOrder {
    width: 200px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    border: 1px solid black;
    padding: 10px;
    transition: background-color 0.4s, color 0.4s;
    border-radius: 4px;
}

.btnOrder:hover {
    color: #144249;
    background-color: #FBD449;
}

.qty {
    display: flex;
    align-items: center;
    margin-top: 30px;

    input {
        width: 130px;
        height: 40px;
        color: #144249;
        font-weight: 800;
        background-color: #c6e0e3;
        border-radius: 4px;
        text-align: center;
        margin-left: 10px;
    }
}

.price {
    color: #144249;
    font-weight: 700;
    margin-top: 10px;

}

.total {
    margin-top: 30px;
}

.des {
    width: 450px;
}

.name {
    color: #144249;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
}

.reg {
    position: absolute;
}

.cancel {
    position: absolute;
    top: 250px;
    left: 418px;

}

.mrp {
    margin-top: 30px;
}


.image1 {
    margin-left: -30px;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    border-radius: 8px;

}

.largeImage {
    border-radius: 10px;
}

.largeImageContainer {
    margin-bottom: 50px;
}

.mainImg {
    margin-top: 20px;
    display: flex;
}

.sideImg {
    margin-top: 33px;
}

.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}