.container {
    background-color: #FBD449;
    height: 4vh;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #144950;
}

.layer {
    position: relative;
    top: -10px;
    width: 100px;
    background-color: red;
}

.whiteBackground {
    font-weight: 700;
}

.p::-moz-selection {
    color: #FBD449;
    background-color: #144950;

}

.p::selection {
    color: #FBD449;
    background-color: #144950;
}