 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 0px;
     background-color: transparent;
 }

 .main {
     width: 80vw;
     height: auto;
 }


 .head {
     color: black;
     text-align: center;
     font-size: clamp(12px, 4vw, 24px);
     font-weight: 600;
 }

 .description {
     color: black;

     font-size: clamp(12px, 4vw, 16px);
     font-weight: 400;
     text-align: center;
 }



 @media (max-width: 1024px) {
     .main {
         width: 90vw;
         height: auto;
     }

     .description {
         text-align: justify;
     }
 }