.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

.h1,
.h2 {
    text-align: center;
    position: relative;
    font-size: 42px;
    color: #144950;
    font-weight: 700;
    margin: 1.5rem;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
    background-clip: text;
    color: transparent;

}

.icons {
    display: flex;
    justify-content: left;
    align-items: center;
}

.mainIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like,
.comment,
.share {
    margin: 8px;
}

.saveIcon {
    margin-right: -1px;
}

.image {
    width: 310px;
    height: 310px;
    margin: 10px;
    transition: all 0.3s ease;
}

.dots {
    margin-right: 5px;
}

.feedBackContainer {
    width: 320px;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin: 0.5rem;
    padding: 0.8rem;
    // box-shadow: 2px 0px 4px -2px rgba(0, 0, 0, 0.1), -2px 0px 4px -2px rgba(0, 0, 0, 0.1), 0px 4px 4px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.feedBackWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedBackHeader {
    display: flex;
    align-items: center;
}

.feedBackHeading {
    font-size: 16px;
    margin-left: 1rem;
    color: black;
    font-weight: 700;
}

.feedBackImageArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3rem;
}

.feedBackImageArea {
    .feedImg {
        width: 100%;
        height: 20rem;
        margin: 0.4rem;
        transition: all 0.3s ease;
    }
}

.instagramFeedArea {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instagramFeedArea1 {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media (max-width: 1920px) {
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 9%;
        margin-right: 9%;
    }

    .feedBackContainer {
        // min-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1670px) {
    .card {
        margin-left: 3%;
        margin-right: 3%;
    }

}

@media (max-width: 1360px) {
    .card {
        margin-left: 2%;
        margin-right: 2%;
    }

    .feedBackContainer {
        min-width: 300px;
    }

}

// @media (max-width: 1482px) and (min-width: 1360px) {
//     .feedBackContainer {
//         min-width: 320px;
//         margin-left: auto;
//         margin-right: auto;
//     }
// }

// @media (max-width: 1360px) and (min-width: 1320px) {
// .feedBackContainer {
//     min-width: 300px;
//     margin-left: auto;
//     margin-right: auto;
// }
// }



// @media (max-width: 990px) {
//     .feedBackContainer {
//         min-width: 340px;
//         margin-left: auto;
//         margin-right: auto;
//     }
// }

@media (max-width: 765px) {

    .h2 {
        font-size: 20px;
    }

}

@media (max-width: 410px) {
    .h1 {
        font-size: 32px;

    }

}

.capt {
    width: 200px;
    max-height: 1.5em;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}