// .footer {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     background-color: black;
//     padding: 20px 15px;
// }

// .mainFooter {
//     display: flex;
//     width: 75%;
//     flex-wrap: wrap;
//     justify-content: space-between;
// }

// .sectionInfo,
// .section {
//     // width: 100%;
//     max-width: 300px;
//     margin-bottom: 20px;
// }

// .section {
//     padding-top: 2rem;
// }

// .linkP {
//     font-size: 15px;
//     text-decoration: none;
//     color: #ffffff;
// }

// .linkH2 {
//     font-size: 24px;
//     text-decoration: none;
//     color: #FBD449;
// }

// .letterspacing {
//     margin-bottom: 2px;
//     font-size: 14px;
//     color: #ffffff;
// }

// .linkP:hover {
//     text-decoration: none;
//     color: #FBD449;
// }

// .fb,
// .linkedin,
// .twitter,
// .insta {
//     margin: 10px;
// }

// .fb:hover {
//     background-image: url('../../imageFolder/fbhover.png');
// }

// .insta:hover {
//     background-image: url('../../imageFolder/instahover.png');
// }

// .linkedin:hover {
//     background-image: url('../../imageFolder/linkedinhover.png');
// }

// .twitter:hover {
//     background-image: url('../../imageFolder/twitterhover.png');
// }


// .imageP {
//     margin: 1rem 0;
//     display: flex;
// }

// @media only screen and (max-width: 1450px) {
//     .footer {
//         padding: 20px 30px;
//     }

//     .mainFooter {
//         width: 100%;
//     }
// }

// @media only screen and (max-width: 945px) {
//     .mainFooter {
//         flex-direction: column;
//         // align-items: center;
//     }

//     .section {
//         padding-top: 0;
//     }

//     .sectionInfo,
//     .section {
//         width: 100%;
//     }
// }


.container {
    width: 100%;
    background-color: #1a2626;
}

.footer {
    width: 80%;
    background-color: #1a2626;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    align-items: center;
}

.main {
    flex-shrink: 0;
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.p1 {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    text-align: center;
    color: #718096;
}

.p11 {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    text-align: center;
    color: #ffffff;

}

.p2 {
    display: flex;
    margin-top: 20px;
}

.p3 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.img {
    margin-left: 15px;

}



.p4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}

.h2 {
    margin-bottom: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.ul {
    margin-bottom: 2rem;
    line-height: 1.25;
    font-size: 0.875rem;
    list-style: none;

    li {
        padding-top: 10px;
        text-align: center;
    }

}

.gray {
    color: #a0aec0;
}

.h1 {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.copy {
    display: flex;
    justify-content: center;
    // margin-top: -2rem;
}

.pcopy {
    text-align: center;
    color: #ffffff;
    padding-bottom: 0.5rem;
    font-size: 13px;
    opacity: 0.4;
}


.head {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0 !important;
}



.text {
    color: #ffffff;
    margin-left: 20px;
}


@media only screen and (max-width: 1024px) {
    .footer {
        width: 100%;
        background-color: #1a2626;
        margin: 0 auto;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 517px) {
    .p4 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
    }

    .h1 {
        width: 100%;
        text-align: center;
    }

    .ul {
        margin-left: 0;
        margin-bottom: 1rem;
        line-height: 1.25;
        font-size: 0.875rem;
        list-style: none;
        padding: 0;
    }

    .main {
        flex-shrink: 0;
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .headp {
        margin-left: -43vw;
    }

    .pcopy {
        font-size: 13px;
    }
}

@media only screen and (max-width: 460px) {
    .headp {
        margin-left: -33vw;
    }
}