.main {
    background-color: rgb(188, 203, 205);
    height: 675px;

}

.vector {
    position: absolute;
    left: 10px;
    margin-top: 250px;
    opacity: 0.4;
}

.vector1 {
    position: absolute;
    left: 1740px;
    margin-top: 50px;
    opacity: 0.4;

}


.productSliderWrapper {
    padding-top: 130px;
    margin-left: -100px;
}